/node_modules
/public/build
/public/vendor
/public/hot
/public/storage
/public/css
/public/js
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.phpunit.cache/
