@use "sass:math";
@use "sass:map";

@use "@scss/utilities/variables";

@function px-to-rem($pixels) {
    $rem-size: math.div($pixels, variables.$base-text-size);

    @return #{$rem-size}rem;
}

@function font($key) {
    @return map.get(variables.$fonts, $key);
}

@function font-weight($key) {
    @return map.get(variables.$font-weights, $key);
}

@function border-radius($size) {
    @return map.get(variables.$border-radiuses, $size);
}

@function border($size) {
    @return map.get(variables.$borders, $size);
}

@function breakpoint($key) {
    @return map.get(variables.$breakpoints, $key);
}
