@use "sass:map";

@use "@scss/utilities/variables";
@use "@scss/utilities/functions";

@mixin rem($pixels) {
    font-size: $pixels;
    font-size: functions.px-to-rem($pixels);
}

@mixin spacing($prefix,) {
    @each $amount, $amountPixels in variables.$spacing {
        .#{$prefix}-m-#{$amount} {
            margin: $amountPixels;
        }

        .#{$prefix}-mt-#{$amount} {
            margin-top: $amountPixels;
        }

        .#{$prefix}-mr-#{$amount} {
            margin-right: $amountPixels;
        }

        .#{$prefix}-mb-#{$amount} {
            margin-bottom: $amountPixels;
        }

        .#{$prefix}-ml-#{$amount} {
            margin-left: $amountPixels;
        }

        .#{$prefix}-p-#{$amount} {
            padding: $amountPixels;
        }

        .#{$prefix}-pt-#{$amount} {
            padding-top: $amountPixels;
        }

        .#{$prefix}-pr-#{$amount} {
            padding-right: $amountPixels;
        }

        .#{$prefix}-pb-#{$amount} {
            padding-bottom: $amountPixels;
        }

        .#{$prefix}-pl-#{$amount} {
            padding-left: $amountPixels;
        }
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
