@use "@scss/utilities/functions";
@use "@scss/utilities/mixins";

%heading {
    // Type
    font-weight: functions.font-weight(bold);
}

%heading-1 {
    @include mixins.rem(40px);
}

%heading-2 {
    @include mixins.rem(34px);
}

%heading-3 {
    @include mixins.rem(28px);
}

%heading-4 {
    @include mixins.rem(24px);
}

%heading-5 {
    @include mixins.rem(20px);
}

%heading-6 {
    @include mixins.rem(16px);
}

%text-small {
    @include mixins.rem(16px);
}

%text-regular {
    @include mixins.rem(18px);
}

%text-large {
    @include mixins.rem(22px);
}

%text-uppercase {
    // Type
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

%text-left {
    // Type
    text-align: left;
}

%text-center {
    // Type
    text-align: center;
}

%text-right {
    // Type
    text-align: right;
}
