$base-text-size: 16px;

$ui-color-1: #4b6cc1;

$fonts: (
    1: (
        "Hanken Grotesk",
        sans-serif,
    ),
);

$font-weights: (
    regular: 400,
    semi-bold: 600,
    bold: 700,
);

$border-radiuses: (
    forms: 5px,
    buttons: 5px,
);

$borders: (
    forms: 1px solid #aaa,
);

$breakpoints: (
    tablet-1: 1024px,
    tablet-2: 768px,
    mobile-1: 670px,
    mobile-2: 450px,
);

$spacing: (
    desktop: (
        15: 15px,
        30: 30px,
        40: 40px,
        50: 50px,
        60: 60px,
        70: 70px,
        80: 80px,
        90: 90px,
        100: 100px,
    ),
    mobile: (
        15: 10px,
        30: 20px,
        40: 30px,
        50: 35px,
        60: 40px,
        70: 45px,
        80: 55px,
        90: 60px,
        100: 65px,
    ),
);
