$base-text-size: 16px;

$colors: (
    1: #4b6cc1,
    bg-1: #eee,
);

$fonts: (
    1: (
        "Hanken Grotesk",
        sans-serif,
    ),
);

$font-weights: (
    regular: 400,
    semi-bold: 600,
    bold: 700,
);

$shadows: (
    1: (
        0 1px 2px rgba(0, 0, 0, 0.02),
        0 2px 4px rgba(0, 0, 0, 0.02),
        0 4px 8px rgba(0, 0, 0, 0.02),
        0 8px 16px rgba(0, 0, 0, 0.02),
        0 16px 32px rgba(0, 0, 0, 0.02),
        0 32px 64px rgba(0, 0, 0, 0.02)
    )
);

$border-radiuses: (
    1: 5px,
    forms: 5px,
    buttons: 5px,
);

$borders: (
    forms: 1px solid #aaa,
);

$breakpoints: (
    laptop-1: 1920px,
    laptop-2: 1400px,
    laptop-3: 1280px,
    tablet-1: 1024px,
    tablet-2: 768px,
    mobile-1: 670px,
    mobile-2: 450px,
);

$spacing: (
    15: 15px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    70: 70px,
    80: 80px,
    90: 90px,
    100: 100px,
    110: 110px,
    115: 115px,
    120: 120px,
    130: 130px,
);
