$base-text-size: 16px;

$ui-color-1: #4b6cc1;

$border-radiuses: (
    forms: 5px,
    buttons: 5px,
);

$borders: (
    form-fields: 1px solid #aaa,
);

$breakpoints: (
    tablet-1: 1024px,
    tablet-2: 768px,
    mobile-1: 670px,
    mobile-2: 450px,
);
