label {
    &[for] {
        @apply cursor-pointer;
    }
}

.label {
    @apply pb-3 block text-base font-medium text-slate-800;
}

.small-label {
    @apply block text-sm font-medium text-slate-800;
}

.inline-label {
    @apply flex items-center gap-x-2;
}

.input,
.textarea,
.select,
.checkbox {
    @apply block text-slate-800 rounded-md border-slate-300 shadow-sm hover:ring hover:ring-slate-200 hover:ring-opacity-50 focus:border-slate-300 focus:ring focus:ring-slate-200 focus:ring-opacity-50;
}

.input,
.textarea,
.select {
    @apply block text-base w-full;
}

.textarea {
    @apply min-h-32;
}

.select {
    @apply cursor-pointer;
}

.checkbox {
    @apply h-5 w-5 cursor-pointer;
}

.button {
    @apply rounded-md bg-slate-800 px-6 py-3 text-sm font-semibold text-white inline-flex shadow-sm hover:bg-slate-500;
}

.button-full {
    @apply w-full text-center justify-center;
}
