@layer components {
    .button {
        @apply rounded-md bg-brand-800 px-6 py-3 text-sm font-semibold text-white inline-flex shadow-sm hover:bg-brand-600 transition-colors ease-in-out duration-200;
    }

    .button-full {
        @apply w-full text-center justify-center;
    }
}
