input,
textarea {
    @extend %field;
}

input:disabled,
textarea:disabled {
    @extend %field-disabled;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    accent-color: color(1);
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: transparent;
    // Type
    font-family: font(1);
}

label {
    @extend %text-regular;
    // Type
    font-weight: font-weight(bold);
}

label[for] {
    cursor: pointer;
}

//---- Responsive ----//
@media (min-width: (breakpoint(mobile-1) + 1)) {
    textarea {
        min-height: 150px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: breakpoint(mobile-1)) {
    textarea {
        min-height: 100px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 20px;
        height: 20px;
    }
}
