.mt-large {
    margin-top: 60px;
}

.mb-large {
    margin-bottom: 60px;
}

.mt-regular {
    margin-top: 30px;
}

.mb-regular {
    margin-bottom: 30px;
}

.mt-small {
    margin-top: 15px;
}

.mb-small {
    margin-bottom: 15px;
}
