body {
    // Type
    font-family: font(1);
    font-size: $base-text-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

h1 {
    @extend %heading-1;
}

h2 {
    @extend %heading-2;
}

h3 {
    @extend %heading-3;
}

h4 {
    @extend %heading-4;
}

h5 {
    @extend %heading-5;
}

h6 {
    @extend %heading-6;
}

p,
li {
    @extend %text-regular;
}

a {
    // Type
    color: $ui-color-1;
}
