.boxed {
    box-shadow: shadow(1);
    border-radius: radius(2);
    background-color: #fff;
}

//---- Responsive ----//
@media (min-width: (breakpoint(laptop-1) + 1)) {
    .boxed {
        padding: 60px;
    }
}

@media (max-width: breakpoint(laptop-1)) {
    .boxed {
        padding: 20px;
    }
}
